@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-[#FAFAFA] text-zinc-900 font-sans antialiased;
    overflow-x: hidden;
  }

  /* Custom Clean Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f4f4f5;
  }
  ::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
